body{
    display:flex;
   flex-direction:column;
    justify-content:center;
    background-color:azure;
   /* outline-style:dashed;
    outline-color:blue;*/
}
form{
    display:flex;
    flex-direction:column;
    /*margin-left:200px;*/
    width:200px;
    max-width:200px;
    /*outline-style:dashed;
    outline-color:green;*/
}


content{
    display:flex;
    /*flex-direction:column;*/
    /*justify-content:center;*/
    /*max-width:30vw;*/
    /*outline-style:dashed;
    outline-color:blue;*/
    margin:20px;
   /* margin-left:33vw;*/
    height:60vh;
    
}

header, footer{
    color:white;
    background-color:rgb(72, 156, 156);
    display:flex;
    align-items:center;
    
    height:15vh;
    width:100%;
    /*outline-style:dashed;
outline-color:red;*/
    
}

header a, footer a{
    color:white;
    text-decoration:none;

}

header a:hover, footer a:hover{
    color:white;
    text-decoration:underline;

}

header{
    
    
}

label{
    font-size:large;
    font-family:'Courier New', Courier, monospace;
}

#output{
    font-size:large;
    max-width:300px;
    border-style:solid;
    width:300px;
    height:300px;
    background-color:white;
    padding:10px;
    font-family:"Lucida Console";
}

.navbar{
    display:flex;
    
}

#about{
    max-width:20vw;
    font-size:large;
    background-color:rgba(211, 211, 211, 0.507);
    border-radius:5px;
    padding:5px;
}

#calc-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    /*outline-style:solid;*/
    margin-left:200px;
    width:300px;
}